* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.text-white {
    color: #fff !important;
}

#main{
   
}

#header{
   height: 46px;
   background-color: black;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1;
}

#nav {
   display: inline-block;
}

#nav li:hover > a {
    color: black;
    background-color: rgb(238, 238, 238);
}

#nav li {
   display: inline-block;
   position: relative;
}

#nav > li > a {
   color: white;
   text-decoration: none;
   padding: 14px 24px;
   display: block;
   text-transform: uppercase;
}
   
#nav .subnav {
    position: absolute;
    top: 46px;
    left: 0;
    width: 160px;
    height: 114px;
    display: none;
}

#nav .nav-arrow-down {
    font-size: 12px;
}

#nav .subnav li {
   display: block;
   background-color: #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li a {
   color: black;
   text-decoration: none;
   padding: 8px 12px;
   display: block;
   height: 38px; 
}

#header .search-btn {
    float: right;
    padding: 0 20px;
    cursor: pointer;
}

#header .search-btn:hover {
    background-color: #f44336;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background-image: url(/assets/img/slider/slider1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    text-align: center;
    color: #fff;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}

#content {
   
}

#content .content-section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
}

#content .section-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
}

#content .section-subheading {
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-content {
    margin-top: 15px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    margin-top: 48px;
    overflow: hidden;
}

#content .member-item {
    float: left;
    width: calc(100% / 3);
    text-align: center;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 5px;
}

.tour-section {
    background-color: #000;
}

.ticket-list {
    background-color: #fff;
    margin-top: 40px;
}

.ticket-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style: none;
}

.ticket-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

.place-list {
    overflow: hidden;
    margin: 32px -8px 48px;
}

.place-item {
    float: left;
    width: calc(100% / 3);
    padding: 0 8px;
}

.place-img {
    display: block;
    width: 100%;
}

.place-img:hover {
    opacity: 0.7;
}

.place-content {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-weight: 600;
    font-size: 15px;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-description {
    margin-top: 15px;
    line-height: 1.4;
}

.buy-ticket {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 16px;
    display: inline-block;
    margin-top: 15px;
}

.buy-ticket:hover {
    color: #000;
    background-color: #ccc;
}

#footer {
   
}
   